.CostOfDollarGraphContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .innerGraphContainer {
        display: flex;
    }

    // Tried flex 1 on the innerGraphContainer but it causes the graph to be bigger
    .hackForPositioningGraphInCenter {
        flex: 1;
    }
}

