.PaymentsGraphContainer {
    .startIndexSlider {
        direction: ltr;
        width: 60px
    }
    .granularitySelectionWrapper {
        label {
            margin-left: 10px;
        }
    }    
}