.PaymentsGraphContainer {

    .startIndexSliderContainer {
        display: flex;

        .startIndexSlider {
            direction: ltr;
            width: 60px;
            margin-right: 10px;
        }
    }
    
    .granularitySelectionWrapper {
        label {
            margin-left: 10px;
        }
    }    
}