@import '../vars';
@import '../globalStyles';

.content.calculatorApp {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;

    .mortgageInputFormColumn {
        padding-right: 0;
        padding-left: 0;
    }

    // Reduce padding and margin for elements on small screens
    @media (max-width:500px) {
        margin-right: 3px;
        margin-left: 3px;
        .mortgageInputFormColumn {
            padding: 3px;
            .react-bs-table {
                margin: 0;
            }
        }
    }

    .MortgageDetailsDisplayContainer {
        margin-top: 3px;
        margin-bottom: 7px;
    }

    .graphsRow {
        margin-bottom: 20px;

        .graphColumn {
            background: $lightBackgroundColor;

            // Use this workaround only when both columns appear next to each other
            @media (min-width:992px) {
                // Can't add margin to the column becuase it will break into a new line - this is the workaround
                &:not(:first-child) {
                    border-right: 5px solid $siteBackgroundColor;
                }
                // Can't add margin to the column becuase it will break into a new line - this is the workaround
                &:not(:last-child) {
                    border-left: 5px solid $siteBackgroundColor;
                }
            }
        }
    }
}