@import '../vars';
@import '../globalStyles';

.content.calculatorApp {
    margin: 10px 15px;

    .mortgageInputFormColumn {
        padding-right: 0;
        padding-left: 0;
    }

    .MortgageDetailsDisplayContainer {
        margin-top: 3px;
        margin-bottom: 7px;
    }

    .graphsRow {
        margin-bottom: 20px;

        .graphColumn {
            background: $lightBackgroundColor;
            padding-bottom: 20px;
            padding-right: 20px;
            padding-left: 20px;

            .graphTableSelectorContainer {
                margin-top: 15px;
                display: flex;

                .icon {
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }

            .graphTitle {
                align-self: center;
            }

            // Use this workaround only when both columns appear next to each other
            @media (min-width:992px) {
                // Can't add margin to the column becuase it will break into a new line - this is the workaround
                &:not(:first-child) {
                    border-right: 5px solid $siteBackgroundColor;
                }
                // Can't add margin to the column becuase it will break into a new line - this is the workaround
                &:not(:last-child) {
                    border-left: 5px solid $siteBackgroundColor;
                }
            }
        }
    }

    .disclaimer {
        display: flex;
        justify-content: center;
        font-size: 12px;

        span {
            margin: 0 7px;
        }
    }

    // Reduce padding and margin for elements on small screens
    @media (max-width:500px) {
        margin-right: 3px;
        margin-left: 3px;
        .mortgageInputFormColumn {
            padding: 3px;
            .react-bs-table {
                margin: 0;
            }
        }

        .graphsRow {
            .graphColumn {
                padding-bottom: 7px;
                padding-right: 7px;
                padding-left: 7px;
            }
        }
    }
}