@import '../vars';

.InfoLine {
    &.highlighted {
        background-color: $darkBackgroundColor;
    }

    height: 50px;
    background-color: $teal;
    color: $lightFontColor;
    .value {
        margin-right: 5px;
    }
}