.MortgageInfoInputFormContainer {
    
    ul > li {
        padding: 0;
    }   
    
    .headingListItem {
        span {
            font-size: 15px;
            margin-right: 10px;
        }
    }

    .listItem {
        .listItemAction {
            display: none;
            margin-left: 0;
            position: relative;
            right: 47px;
            a {
                color: #8f1010;
            }
        }

        &:hover {
            .listItemAction {
                display: block;
            }
        }
    }

}