.MortgageDetailsDisplay {
    display: flex;
    flex-wrap: wrap;
    .infoLineColumn {
        margin-top: 4px;
        flex: 1;
        min-width: 200px;
        margin-left: 4px;
        margin-right: 4px;

        &:first-child {
            margin-right: 0;
        }

        &:last-child {
            margin-left: 0;
        }
    }
}