.MortgageDetailsDisplay {
    display: flex;
    flex-wrap: wrap;
    .infoLineColumn {
        margin-top: 4px;
        flex: 1;
        min-width: 200px;
        margin-left: 8px;
    
        // When the the info lines wrap, this doesnt look good
        @media (min-width:856px) {
            &:last-child {
                margin-left: 0;
            }
        }
    }
}