@import '../vars';

.MortgageInfoInputRow {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: ridge;
    border-bottom-color: $disabledFieldColor;

    .partIndex {
        align-self: center;
        margin-right: 15px;
        width: 30px;
        font-size: 13px;
    }

    .inputField {
        flex: 1;
        min-width: 90px;
        max-width: 200px;
        text-align: center;
        margin-left: 10px;
        border-width: 1px;
        border-style: ridge;
        border-color: $disabledFieldColor;

        &.selectBox {
            text-align: inherit;
            min-width: 100px;
            border: none;
        }

        &.monthlyPayment {
            background-color: $disabledFieldColor;
        }
    }
    
    .removeIcon {
        align-self: center;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }

    &.headerRow {
        height: 40px;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        
        .inputField { 
            margin-bottom: 0;
            border: none;
        }

        .removeIcon {
            cursor: inherit;
        }
    }
}