@import '../vars';

.MortgageInfoInputFormContainer {
    background: $lightBackgroundColor;
    padding: 0 10px;
    
    .addPartRow {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 250px;
        height: 37px;
        cursor: pointer;
        border-left: 1px ridge $disabledFieldColor;
        .button {
            margin-right: 10px;
        }

        &:hover {
            background-color: rgba(43,200,173, 0.1);
        }
    }
}