.rootAppContainer {
    direction: rtl;
    margin-right: 20px;
    margin-top: 10px;

    .MortgageInfoInputFormContainer {

    }

    .MortgageDetailsDisplayContainer {
        margin-right: 20px;
        margin-top: 20px;
    }
}