.rootAppContainer {
    margin-left: 10px;
    margin-top: 10px;

    .MortgageInfoInputFormContainer {
        margin-top: 10px;
    }

    .MortgageDetailsDisplayContainer {
        margin-left: 20px;
        margin-top: 20px;
    }
}