.rootAppContainer {
    direction: rtl;
    margin-right: 20px;
    margin-top: 10px;

    .addButton {
        margin: inherit;
        margin-right: 5px;
        background-color: #d23f31;
        color: white
    }

    .MortgageInfoInputFormContainer {

    }

    .MortgageDetailsDisplayContainer {
        margin-right: 20px;
        margin-top: 20px;
    }
}