@import '../vars';

.UserSection {
    color: $lightFontColor;
    margin-right: 15px;

    .userPicture {
        border-radius: 20px;
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }

    .loginButton {
        cursor: pointer;
        width: 140px;
    }

    .logoutLink {
        color: inherit;
        cursor: pointer;
    }
}