$selectBoxShadow: 1px 1px 1px 0px #bec2cc;

///// Bootstrap columns equal height - see http://stackoverflow.com/a/19695851/1391050 //////////////////
:global(.row):global(.equalHeightColumns) {
    display: flex;
    flex-wrap: wrap;
}
:global(.row):global(.equalHeightColumns) > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
///////////////////////////////////////////////////

/* Disable chrome's default blue outline on focus */
:focus {
    outline: 0;
}

////////// React-select dropdown styling /////////////////
:global(.Select-control) {
    box-shadow: $selectBoxShadow;
    border-radius: $inputBorderRadius;
}
:global(.Select-arrow) {
    // Make the arrow black instead of grey
    border-color: $fontColor transparent transparent;
}
:global(.Select-menu-outer) {
    // Give the dropdown menu the same box shadow as the select box
    box-shadow: $selectBoxShadow;
}
////////// End React-select dropdown styling /////////////////

:global(.hidden) {
    display: none;
}