$fontFamily: ASISTANT;
$fontColor: #363744;
$lightFontColor: #fff;

$siteBackgroundColor: #f1f1f1;
$darkBackgroundColor: #363744;
$lightBackgroundColor: #fff;

$teal: #2bc8ad;
$purple: #828ced;

// Regular text
$regularFontWeight: 400;
$regularFontSize: 14px;

$disabledFieldColor: #eeeff1;