body {
    direction: rtl;
    background-color: #f1f1f1; /* $siteBackgroundColor */
    color: #363744; /* $fontColor */
    font-family: ASISTANT; /* $fontFamily */
    font-weight: 400; /* $regularFontWeight */
    font-size: 14px; /* $regularFontSize */
}

.topBar {
    background-color: #363744; /* $darkBackgroundColor */
    height: 40px;
}

.headingSection {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headingSection .headingSectionTitle {
    font-weight: 800;
    font-size: 37px;
}
.headingSection .headingSectionParagraph {

}