body {
    background-color: #f1f1f1; /* $siteBackgroundColor */
}

.topBar {
    background-color: #363744; /* $darkBackgroundColor */
    height: 40px;
}

.headingSection {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}